@import './reset.scss';

$color: navy;

.banner{
   color: white;
   background-color: $color;
   height: 5rem;
   padding: 2rem;
   font-size: 1.2rem;
   line-height: 1rem;
}

.parse-btn {
   cursor: pointer;
   padding: 0.5rem;
   border: 1px solid $color;
   background: $color;
   overflow: hidden;
   height: 5rem;
   width: 5rem;
   margin-left: -2.5rem;
   z-index: 1;
   text-align: center;
   line-height: 2rem;
   border-radius: 50%;
   align-self: center;
   box-shadow: #555 3px 3px 0px 0px;
   span {
      font-size: 10rem;
      position: relative;
      display: inline-block;
      left: -5.5rem;
      color: #fff;
   }
   &:focus {
      outline: none;
   }
   &:active {
      transform: translate3d(1px, 1px, 1px);
      box-shadow: #555 2px 2px 0px 0px;
    }
   &.disabled{
      user-select: none;
      pointer-events: none;
      background-color: #373789;
      filter: brightness(0.6);
      opacity: 0.95;
      box-shadow: none;
   }
}

.space{
   display: grid;
   grid-template-columns: 1fr 0rem 1fr;
   margin: 0 2rem;
   grid-gap: 1.5rem;
}

textarea {
   width: 100%;
   height: 30rem;
   border: 1px solid #999;
   padding: 1rem;
   resize: none;
}

.json-parse {
   border: 1px solid #999;
   padding: 1rem;
   height: 30rem;
   overflow: auto;
   &--placeholder {
      color: #999;
   }
   &::-webkit-scrollbar {
      width: 0.8rem;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $color;
      border-radius: 0.15rem;
   }
   &::-webkit-scrollbar-track {
      background-color: #eee;
   }
}
.object-block {
   padding-left: 0.8rem;
   line-height: 1.25rem;
}

.object-property {
   padding-left: 0.8rem;
   line-height: 1.25rem;
}

.example-buttons {
   margin: 0.5rem 1.5rem;
   display: flex;
   button {
      cursor: pointer;
      padding: 0.5rem;
      text-align: center;
      border-radius: 0.5rem;
      border: 1px solid #333;
      box-shadow: #555 3px 3px 0px 0px;
      margin: 0.5rem;
      &:active {
         transform: translate3d(1px, 1px, 1px);
         box-shadow: #555 2px 2px 0px 0px;
      }
      &:hover {
         border: 1px solid $color;
         background: $color;
         color: #fff;
      }
      &:focus {
         outline: none;
      }
   }
}
